<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Accueil</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span>Gérer utilisateurs</span></li>
  </ol>
</nav>
<div class="row">
  <!-- Add user start -->
  <div class="card w-100">
    <div class="card-body">
      <h4 class="mb-4">Ajouter un utilisateur</h4>
      <form #addUserForm="ngForm" (ngSubmit)="addUser()" class="form-sample">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nom</label>
              <div class="col-sm-9">
                <input required name="lname" [(ngModel)]="newUser.lname" type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Prénoms</label>
              <div class="col-sm-9">
                <input required name="fname" [(ngModel)]="newUser.fname" type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input required name="email" [(ngModel)]="newUser.email" type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Fonction</label>
              <div class="col-sm-9">
                <input required name="fonction" [(ngModel)]="newUser.fonction" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Login</label>
              <div class="col-sm-9">
                <input required name="login" [(ngModel)]="newUser.login" type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Mot de passe</label>
              <div class="col-sm-9">
                <input required name="passwor" [(ngModel)]="newUser.password" type="password" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Structure</label>
              <div class="col-sm-9">
                <select name="structure_id" [(ngModel)]="newUser.structure_id" class="form-control">
                  <ng-container *ngIf="structures">
                    <option [value]="structure.id" *ngFor="let structure of structures">{{structure.nom}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select name="role_id" [(ngModel)]="newUser.role_id" class="form-control">
                  <ng-container *ngIf="roles">
                    <option [value]="role.id" *ngFor="let role of roles">{{role.role}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right">
          <button type="button" (click)="addUserForm.reset()" class="btn btn-light mr-2">Reintialiser</button>
          <button [disabled]="!addUserForm.form.valid" type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Add user end -->

  <!-- Users table start -->
  <div class="card w-100 mt-4">
    <div class="card-body">
      <h4 class="mb-4">Utilisateurs</h4>
      <div>
        <input style="font-size: 14px;" type="text" class="form-control" name="searchUser"
               [(ngModel)]="searchUser" placeholder="Rechercher utilisateur..."/>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            User
          </th>
          <th>
            Nom
          </th>
          <th>
            Role
          </th>
          <th>
            Structure
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | userFilter : searchUser; let i = index">
          <td class="py-1">
            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
          </td>
          <td>
            {{user.lname}} {{user.fname}}
          </td>
          <td>
            {{user.role.role}}
          </td>
          <td>
            {{user.structure.nom}}
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary px-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div style="font-size: 14px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Détails</a>
                <a class="dropdown-item" href="#">Modifier</a>
                <a class="dropdown-item" href="#">Supprimer</a>
                <a class="dropdown-item" href="#">Reintialiser mot de passe</a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Users table end -->

</div>

<!-- Modals start -->
  <!-- View user details modals start-->
<div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby="viewUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
  <!-- View user details modals end-->
<!-- Modals end -->



