<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span>Admin</span></li>
  </ol>
</nav>
<div class="row">
  <div class="col-3 mb-3">
    <div routerLink="manage-users" class="card text-center" style="width: 15rem;">
      <div class="card-body">
        <span style="color: #5786E8" class="fa fa-user mb-2 fa-2x"></span>
        <h4>Gérer utilisateurs</h4>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div routerLink="manage-structures" class="card text-center" style="width: 15rem;">
      <div class="card-body">
        <span style="color: #5786E8" class="fa fa-user mb-2 fa-2x"></span>
        <h4>Gérer structures</h4>
      </div>
    </div>
  </div>
  <div class="col-3 mb-3">
    <div class="card text-center" style="width: 15rem;">
      <div class="card-body">
        <span style="color: #5786E8" class="fa fa-user mb-2 fa-2x"></span>
        <h4>Gérer structures</h4>
      </div>
    </div>
  </div>
</div>